{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.nameJobs) }}
    {{ form_row(form.description) }}

    <button type="submit">modifier</button>
    {{ form_end(form) }}

{% endblock %}