{% extends 'base.html.twig' %}

{% block body %}
    <div>

        {{ form_start(form) }}
        {{ form_row(form.Jobs) }}
        {{ form_row(form.Sfc) }}


        <button type="submit">Enregistrer</button>
        {{ form_end(form) }}

    </div>

{% endblock %}