{% extends 'base.html.twig' %}

{% block body %}
    <div>

            {{ form_start(form2) }}
        <button type="submit">Enregistrer</button>
            {{ form_end(form2) }}



    </div>

{% endblock %}