{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        body{
            background-color: #224f76;
            color: #FFFFFF;

        }
        .container{
            text-align: center;

        }
        thead, tbody{
            background-color: white;
            color: #222222;
        }
        .tab{
            margin-top: 150px;

        }

    </style>
{% endblock %}

{% block body %}
    {% for Jobs in Jobs %}

        <div class="container">
            <div class="tab">
            <h2>métier</h2>
            <p>touts les métiers et leurs description:</p>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Métier</th>
                    <th>Description</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ Jobs.id }}</td>
                    <td>{{ Jobs.nameJobs }}</td>
                    <td>{{ Jobs.description }}</td>
                    <td><a href="{{ path('modifJobs', {"id": Jobs.id}) }}">Modifier</a></td>

                </tr>

                </tbody>
            </table>
            </div>
        </div>
        {% endfor %}



{% endblock %}