{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        body{
            background-color: #224f76;
            color: #FFFFFF;

        }
        .container{
            text-align: center;

        }
        thead, tbody{
            background-color: white;
            color: #222222;
            height: 100%;
        }
        .table-fixed{
            height: 100%;
        }



        .tab{
            margin-top: 100px;
            min-height:320px;
            height:320px;/*pour IE qui comprend rien, et qui ne reconnait pas min-height, mais qui comprend mal height*/
            min-width:260px;
            width:100%;/*pour IE qui comprend rien*/
            overflow-y:scroll;/*pour activer les scrollbarres*/
            box-shadow: 1px 1px 15px 15px #a1c13a;
            background-color: white
            /*border-radius: 20px 20px 20px 20px;*/




        }
        .titre{
            margin-top: 100px;
        }




    </style>
{% endblock %}

{% block body %}


        <div class="container">
            <div class="titre">
            <h2>métier</h2>
            <p>touts les métiers et leurs description:</p>
            </div>
            <input id="string" name="string" type="text" value="" onfocus="" />
            <input type="submit" value="Rechercher" onclick="searchString()" />
            <script>
                function searchString() {
                    var Sstring = $('#string').val().toLowerCase();
                    console.log(Sstring);
                    $("td").css("background", "none");
                    if (Sstring) {

                        var Sstring = $('#string').val();
                        $("td:contains('" + Sstring + "')").css("background", "lightgrey");
                        var n = $("td:contains('" + Sstring + "')").length;
                        alert( n + " occurence(s) trouvée(s)");
                        $("td:contains('" + Sstring + "')")[0].scrollIntoView(true);
                        $('#string').val('');

                    }else{
                        alert('vide');
                        $("td:contains(" + Sstring + ")").css("background", "none");
                    }
                }



            </script>
            <div class="tab">

            <table class="table table-striped table-bordered table-fixed">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Métier</th>
                    <th>Description</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                {% for Jobs in Jobs %}
                <tr>
                    <td>{{ Jobs.id }}</td>
                    <td>{{ Jobs.nameJobs }}</td>
                    <td>{{ Jobs.description }}</td>
                    <td><a href="{{ path('modifJobs', {"id": Jobs.id}) }}">Modifier</a></td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>




{% endblock %}